<div class="background">

<div class="card">

<h2>
FORMULAIRE D'INSCRIPTION
</h2>

<p class="subtitle">
Veuillez remplir vos informations pour vous inscrire.
</p>

<form (ngSubmit)="register()">

<div class="row">

<input type="text"
placeholder="Prénom *"
[(ngModel)]="user.firstName"
name="firstName"
required>

<input type="text"
placeholder="Nom *"
[(ngModel)]="user.lastName"
name="lastName"
required>

</div>

<input type="email"
placeholder="Adresse Email *"
[(ngModel)]="user.email"
name="email"
required>

<input type="password"
placeholder="Mot de Passe *"
[(ngModel)]="user.password"
name="password"
required>

<small>Minimum 8 caractères</small>

<input type="text"
placeholder="Numéro de Téléphone (optionnel)"
[(ngModel)]="user.phone"
name="phone">

<input type="text"
placeholder="Pays *"
[(ngModel)]="user.country"
name="country"
required>

<button class="register-btn">
S'INSCRIRE
</button>

</form>

</div>

</div>